<div class="col-xs-12 event-breadcumb">
    <!-- <a href="#events" class="breadcumb event-tab"><b>EVENT</b></a> <b>/ </b> -->
    <!-- <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            K-Content Expo 2019 Indonesia
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
        </ul>
    </div> -->
</div>

<div class="col-xs-12 event-detail">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="heading">Hanwha Life Activation Program 2019</h1>
        <p class="event-detail-date"><b>26 Oktober 2019 (Jakarta)</b></p>
        <a href="https://goo.gl/maps/gpGhNucfKHj8Yy1CA" title="FX Mall" >
            <h4>VENUE: FX Mall</h4>
        </a>
        <div class="row">
            <div class="col-xs-12 img-container">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DHanwha%20Life%20Activation%20Program%202019.jpeg" width="100%" alt="Hanwha Life Activation Program 2019 Poster"/>
            </div>
        </div>
        <hr>
        <p class="desc">Bulan Oktober, 2019 : Kim So Hee (K-POP).</p>
        <p class="desc">Bulan November, 2019 : Jun Chef(K-Food), Erna Limdaugh(K-Travel).</p>
        <p class="desc">Bulan December, 2019 : Lee Yong Dae(K-Sports).</p>
        <p class="desc">Bulan Januari, 2020 : Kenny Austin(K-drama), Gege Elisa(K-Beauty).</p>
        <div class="event-sns-wrapper">
            <a href="https://twitter.com/kcc_indonesia"  title="KCC Indonesia Twitter" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-twitter.png" alt="Twitter Icon">
            </a>
            <a href="https://www.facebook.com/KCCIndonesia/"  title="KCC Indonesia Facebook" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-facebook.png" alt="Facebook Icon">
            </a>
            <a href="https://www.instagram.com/kcc.id"  title="KCC Indonesia Instagram" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-instagram.png" alt="Instagram Icon">
            </a>
        </div>
    </div>
</div>