<div class="col-xs-12 event-detail">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="heading">Korean Bazaar - On Sale</h1>
        <p class="event-detail-date"><b>Online Event: 17 September - 31 Oktober 2019</b></p>
        <p class="event-detail-date"><b>Offline Event: 3 - 6 Oktober 2019</b></p>

        <a href="https://g.page/CentralParkMallJkt"  title="Central Park Mall">VENUE: <br> Central Park Mall, Jakarta Barat <br>Ground Floor (GF), Promenade Laguna <br>Dekat pintu masuk lobby Lumina dan Laguna, depan SOGO & Mango.</a>

        <div class="row">
            <div class="col-xs-12 img-container">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/korean-bazaar-on-sale.jpeg" width="100%"/ alt="Korean Bazaar - On Sale Poster">
            </div>
        </div>
        <hr>
        <p class="desc">iLotte Pop Up Store Experience: </p>

        <p class="desc">Menampilkan dan memperkenalkan produk-produk eksklusif asli dari Korea. Customer dapat melihat dan mencoba produk-produk dari brand-brand terlaris di Korea seperti MARHEN.J, MLB, SOMEBYMI, KLAVUU, berbagai macam album K-Pop, BT21, dan 400 brand Korea lainnya langsung di offline booth iLotte. </p>

        <p class="desc">For more details, please visit:</p> <br>

        <p class="desc">Instagram @kmall_ilotte</p>

        <a href="https://www.instagram.com/kmall_ilotte/"><p class="desc">https://www.instagram.com/kmall_ilotte/</p></a>

        <br>
        <p class="desc">Instagram @ilotte_id</p>
        
        <a href="https://www.instagram.com/ilotte_id/"></a><p class="desc">https://www.instagram.com/ilotte_id/</p>
        
    </div>
</div>