<div class="col-xs-12 event-breadcumb">
    <!-- <a href="#events" class="breadcumb event-tab"><b>EVENT</b></a> <b>/ </b> -->
    <!-- <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            K-Content Expo 2019 Indonesia
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
        </ul>
    </div> -->
</div>

<div class="col-xs-12 event-detail">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="heading">2019 STUDY IN KOREA FAIR IN INDONESIA</h1>
        <p class="event-detail-date"><b>9 - 10 November 2019</b></p>
        <a href="https://goo.gl/maps/tAyLmB8YVtxXso3j7" title="JCC" >
            <h4>VENUE: Merek Room, JCC</h4>
        </a>
        <div class="row">
            <div class="col-xs-12 img-container">
                <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DStudy%20In%20Korea%20Fair.jpg" width="100%" alt="Study In Korea Fair Poster"/>
            </div>
        </div>
        <hr>
        <p class="desc">Pameran ini digelar untuk memperkenalkan dunia pendidikan Korea kepada para pelajar, mahasiswa, guru dan dosen di Indonesia. </p>
        <p class="desc">Lebih dari 40 perwakilan universitas dan guru-guru sekolah menengah untuk berkomunikasi dengan universitas-universitas di Korea akan diundang.</p>
    </div>
</div>