<div class="col-xs-12 event-breadcumb">
    <!-- <a href="#events" class="breadcumb event-tab"><b>EVENT</b></a> <b>/ </b> -->
    <!-- <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            K-Content Expo 2019 Indonesia
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
        </ul>
    </div> -->
</div>

<div class="col-xs-12 event-detail">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="heading">2019 The Best K-POP Cover in Indonesia</h1>
        <p class="event-detail-date"><b>19 - 20 Oktober 2019</b></p>
        <a href="https://goo.gl/maps/q4gmRucujWXiuH4Z8" title="Istora Senayan" >
            <h4>VENUE: Istora Senayan</h4>
        </a>
        <div class="row">
            <div class="col-xs-12 img-container">
                <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5Bposter%5DThe%20Best%20K-Pop%20Cover%20in%20Indonesia.png" width="100%" alt="2019 The Best K-Pop Cover In Indonesia Poster"/>
            </div>
        </div>
        <hr>
        <p class="desc">The Best K-Pop Cover in Indonesia merupakan ajang kompetisi dance cover dan sing cover yang digagas oleh Korean Cultural Center Indonesia. Para peserta kompetisi ini adalah finalis dan pemenang kompetisi-kompetisi K-Pop dance dan sing cover yang diselenggarakan oleh Korean Cultural Center Indonesia pada tahun 2016-2019. Kompetisi ini akan berlangsung pada 19 & 20 Oktober 2019 di Istora Senayan (panggung outdoor). </p>
        <p class="desc">Sistem kompetisi kategori dance cover adalah melalui tahap semi-final dan final. Sementara untuk kategori sing cover akan langsung berupa tahap final. Kompetisi ini akan memperlihatkan bakat-bakat terbaik K-Pop cover di Indonesia. </p>
        <div class="event-sns-wrapper">
            <a href="https://twitter.com/kcc_indonesia"  title="KCC Indonesia Twitter" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-twitter.png" alt="Twitter Icon">
            </a>
            <a href="https://www.facebook.com/KCCIndonesia/"  title="KCC Indonesia Facebook" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-facebook.png" alt="Facebook Icon">
            </a>
            <a href="https://www.instagram.com/kcc.id"  title="KCC Indonesia Instagram" class="event-sns">
                <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/sns-button-instagram.png" alt="Instagram Icon">
            </a>
        </div>
    </div>
</div>