<div class="col-xs-12 content no-pad">
    <section class="col-xs-12 section section-navigation">
        <!-- <div class="live-now-wrapper">
            <a class="live-now">
                LIVE NOW
            </a>
        </div>
        <div class="live-schedule-wrapper">
            <button class="live-schedule">
                LIVE SCHEDULE <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
        </div> -->
        <a class="anchor-wrapper map-anchor-wrapper pull-right hidden-xs" onclick="smoothScroll('.section-map')">
            MAP
        </a>
        <a class="anchor-wrapper calendar-anchor-wrapper pull-right hidden-xs" onclick="smoothScroll('.section-calendar')">
            CALENDAR
        </a>
        

    </section>
    <section class="col-xs-12 section section-banner">
        <div class="col-xs-12 banner-slide" align="center">
            <!-- -->
            <a href="#k-content-expo-2019" title="K-Content Expo 2019">
                <div class="banner-slide-item" align="center">
                    <img class="bg-slider" src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_kcontent.jpg" width="100%" alt="K-Content Event Billboard">
                </div>
            </a>

            <a href="#seoul-food-from-home" title="Seoul Food From Home">
                <div class="banner-slide-item" align="center">
                    <img class="bg-slider" src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_kfood.jpg" width="100%" alt="Seoul Food From Home">
                </div>
            </a>
            
            <a href="#hangul-day" title="Hangul Day">
                <div class="banner-slide-item" align="center">
                    <img class="bg-slider" src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_hangulday.jpg" width="100%" alt="Hangul Day Event Billboard">
                </div>
            </a>

            <!-- <a href="#korea-indonesia-film-festival" title="Korea Indonesia Film Festival">
                <div class="banner-slide-item" align="center">
                    <img class="bg-slider" src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_koreanculture.jpg" width="100%" alt="Korea - Indonesia 10th Film Festival Billboard">
                </div>
            </a> -->
            
            <!-- -->
        </div>
    </section>

    <section class="col-xs-12 section section-event">
        <div class="col-xs-12 event-header" align="left">
            <h2 class="head-gibson main-head"><i class="h2-icon event-icon"></i>EVENT LIST</h2>
        </div>
        <div class="col-xs-12 event-body">
           <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        17
                    </div>
                    <div class="col-xs-12 event-date-month">
                        SEPT
                    </div>
                    <div class="col-xs-12 event-date-month">
                        -
                    </div>
                    <div class="col-xs-12 event-date-day" align="left">
                        31
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OCT
                    </div>
                </div>
                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#korean-bazaar-on-sale" title="Korean Bazaar - On Sale">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/poster_thumb_koreanbazaar.jpg" width="100%"/ alt="Korean Bazaar - On Sale Thumbnail">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#korean-bazaar-on-sale" title="K-Exhibition Expo">
                        <h3>Korean Bazaar - On Sale</h3>
                    </a>
                    <a href="https://g.page/CentralParkMallJkt" title="Central Park, Promenade Laguna" >
                        <h4>Central Park, Promenade Laguna</h4>
                    </a>
                    <label class="event-label">K-EXHIBITION</label>
                    <p class="excerpt hidden-xs">Menampilkan dan memperkenalkan produk-produk eksklusif asli dari Korea. Customer dapat melihat dan mencoba produk-produk dari brand-brand terlaris di Korea seperti MARHEN.J, MLB, SOMEBYMI, KLAVUU, berbagai macam album K-Pop, BT21, dan 400 brand Korea lainnya langsung di offline booth iLotte.</p>
                    <a href="#korean-bazaar-on-sale" title="Korean Bazaar - On Sale 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            
            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-food">
                    <div class="col-xs-12 event-date-day" align="left">
                        01 - 31
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>
                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#korean-food-festival" title='Korean Food Festival "Korea Dekat Di Hati"'>
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/poster_thumb_dekatdihati.jpg" width="100%" alt="Korean Food Festival Thumbnail"/>
                    </a>

                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#korean-food-festival" title='Korean Food Festival "Korea Dekat Di Hati"'>
                        <h3>Korean Food Festival "Korea Dekat Di Hati"</h3>
                    </a>
                    <a href="https://goo.gl/maps/4YeixvACHtQbsCAP8" title="Legenda Wisata" >
                        <h4>Legenda Wisata</h4>
                    </a>
                    <a href="https://goo.gl/maps/SrySj9uoc5uJLN4y8"  title="Jati Asih">
                        <h4>Jatiasih</h4>
                    </a>
                    <a href="https://goo.gl/maps/DHf993CezUkgfQw16"  title="Kemang Pratama">
                        <h4>Kemang Pratama</h4>
                    </a>
                    <a href="https://goo.gl/maps/BvMnGFZ6V8o6qy9p9"  title="Jatibening">
                        <h4>Jatibening</h4>
                    </a>
                    <a href="https://goo.gl/maps/SHkjdn3fFP8tcd6VA"  title="Cipondoh">
                        <h4>Cipondoh</h4>
                    </a>
                    <label class="event-label">K-FOOD</label>
                    <p class="excerpt hidden-xs">Nikmati aneka ragam produk makanan Korea, seperti mie instan, minuman, camilan, hingga buah-buahan.</p>
                    <a href="#korean-food-festival" title='Korean Food Festival "Korea Dekat Di Hati"' class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
           
            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-content">
                    <div class="col-xs-12 event-date-day" align="left">
                        03 - 06
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>
                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#k-content-expo-2019" title="K-Content Expo">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DK-Content%20Expo.jpeg" width="100%"/ alt="K-Content Expo Thumbnail">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#k-content-expo-2019" title="K-Content Expo">
                        <h3>K-Content Expo</h3>
                    </a>
                    <a href="https://g.page/CentralParkMallJkt" title="Central Park Mall" >
                        <h4>Central Park Mall</h4>
                    </a>
                    <label class="event-label">K-CONTENT</label>
                    <p class="excerpt hidden-xs">Korea Creative Content Agency (KOCCA) dengan bangga memperkenalkan siaran, game, animasi / karakter Korea yang berkualitas kepada Indonesia</p>
                    <a href="#k-content-expo-2019" title="K-Content Expo 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-food">
                    <div class="col-xs-12 event-date-day" align="left">
                        03 - 13
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>
                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#seoul-food-from-home" title="Seoul Food From Homel">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/poster_thumb_kfood.jpg" width="100%"/>
                    </a>

                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#seoul-food-from-home" title="Seoul Food From Home">
                        <h3>Seoul Food From Home</h3>
                    </a>
                    <a href="https://goo.gl/maps/R3ntckJ7injS4C5U6" title="Westin Hotel" >
                        <h4>Westin Hotel, Seasonal Tastes </h4>
                    </a>
                    <label class="event-label">K-FOOD</label>
                    <p class="excerpt hidden-xs">Enjoy home style Korean food with Korean Chefs</p>
                    <a href="#seoul-food-from-home" title="Seoul Food From Home" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-content">
                    <div class="col-xs-12 event-date-day" align="left">
                        09
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#hangul-day" title="Hangul Day (Hari Huruf Korea)">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DHangul%20Day.jpg" width="100%"/ alt="Hangul Day Thumbnail">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#hangul-day" title="Hangul Day (Hari Huruf Korea)">
                        <h3>Hangul Day (Hari Huruf Korea)</h3>
                    </a>
                    <a href="https://goo.gl/maps/syB4euKP23G6jhSN6" title="Korean Culture Center" >
                        <h4>Korean Cultural Center</h4>
                    </a>
                    <label class="event-label">K-CONTENT</label>
                    <p class="excerpt hidden-xs">Hari Hangeul adalah hari untuk memperingati penciptaan Hangeul atau huruf asli Korea. </p>
                    <a href="#hangul-day" title="Hangul Day (Hari Huruf Korea)" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-content">
                    <div class="col-xs-12 event-date-day" align="left">
                        10 - 13
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#korea-indonesia-film-festival-2019" title="Korea-Indonesia Film Festival 2019">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DKorea%20Indonesia%20Film%20Festival.jpg" width="100%"/ alt="Korea Indonesia Film Festival Thumbnail">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#korea-indonesia-film-festival-2019" title="Korea-Indonesia Film Festival 2019">
                        <h3>Korea-Indonesia Film Festival 2019</h3>
                    </a>
                    <a href="https://goo.gl/maps/NvpX6iwcuPbRUswy8" title="CGV Cinema" >
                        <h4>CGV Cinemas</h4>
                    </a>
                    <label class="event-label">K-CONTENT</label>
                    <p class="excerpt hidden-xs">2019 Korea Indonesia Film Festival(KIFF) adalah sebuah acara tahunan yang memutarkan berbagai film Korea dan Indonesia di bukan hanya di Jakarta tetapi juga di kota lain-lain. </p>
                    <a href="#korea-indonesia-film-festival-2019" title="Korea-Indonesia Film Festival 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        16 - 17
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#flying" title="FLYING">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DNon-Verbal%20Performance%20%27Flying%27%20revised.jpg" width="100%"/ alt="FLYING thumbnail">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#flying" title="FLYING">
                        <h3>FLYING</h3>
                    </a>
                    <a href="https://g.page/artpreneur" title="Ciputra Artpreneur" >
                        <h4>Ciputra Artpreneur in Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">FLYING adalah pertunjukan komedi non-verbal yang menceritakan kisah Hwarang (prajurit Korea) dan Dokkebi (monster Korea) yang datang dari masa lalu ke masa sekarang. </p>
                    <a href="#flying" title="FLYING" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 20
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#k-pop-concert" title="K-Pop Concert">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DK-Pop-Concert-1.jpg" width="100%" alt="K-Pop Concert Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#k-pop-concert" title="K-Pop Concert">
                        <h3>K-Pop Concert</h3>
                    </a>
                    <a href="https://goo.gl/maps/q4gmRucujWXiuH4Z8" title="Istora Senayan" >
                        <h4>Istora Senayan</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Bersiaplah untuk acara paling besar selama K-Festival 2019.  </p>
                    <a href="#k-pop-concert" title="K-Pop Concert" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 20
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#follow-gyeonggi-k-culture-festa-2019" title="Follow Gyeonggi K-Culture FESTA 2019">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DK-Pop-Concert-2.jpg" width="100%" alt="Follow Gyeonggi K-Culture FESTA 2019 Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#follow-gyeonggi-k-culture-festa-2019" title="Follow Gyeonggi K-Culture FESTA 2019">
                        <h3>Follow Gyeonggi K-Culture FESTA 2019</h3>
                    </a>
                    <a href="https://goo.gl/maps/q4gmRucujWXiuH4Z8" title="Istora Senayan" >
                        <h4>Istora Senayan</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Bagian dari K-Pop Concert di Istora GBK. Bersiaplah untuk acara paling besar selama K-Festival 2019.  </p>
                    <a href="#follow-gyeonggi-k-culture-festa-2019" title="Follow Gyeonggi K-Culture FESTA 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            
            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 20
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#follow-gyeonggi-k-culture-festa-2019-istora-senayan-outside-square" title="Follow Gyeonggi K-Culture FESTA 2019">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DK-Pop-Concert-2.jpg" width="100%" alt="Follow Gyeonggi K-Culture FESTA 2019 Outside Square Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#follow-gyeonggi-k-culture-festa-2019-istora-senayan-outside-square" title="Follow Gyeonggi K-Culture FESTA 2019 (Outside Senayan Square">
                        <h3>Follow Gyeonggi K-Culture FESTA 2019 (Istora Senayan Outside Square)</h3>
                    </a>
                    <a href="https://goo.gl/maps/q4gmRucujWXiuH4Z8" title="Istora Senayan Outside Square" >
                        <h4>Istora Senayan Outside Square</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Bagian dari K-Pop Concert di Istora GBK. Bersiaplah untuk acara paling besar selama K-Festival 2019.  </p>
                    <a href="#follow-gyeonggi-k-culture-festa-2019-istora-senayan-outside-square" title="Follow Gyeonggi K-Culture FESTA 2019 Outside Square" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 20
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#the-best-k-pop-cover-in-indonesia" title="2019 The Best K-POP Cover in Indonesia">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5Bposter%5DThe%20Best%20K-Pop%20Cover%20in%20Indonesia.png" width="100%" alt="2019 The Best K-Pop Cover In Indonesia Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#the-best-k-pop-cover-in-indonesia" title="2019 The Best K-POP Cover in Indonesia">
                        <h3>2019 The Best K-POP Cover in Indonesia</h3>
                    </a>
                    <a href="https://goo.gl/maps/q4gmRucujWXiuH4Z8" title="Istora Senayan" >
                        <h4>Istora Senayan</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">The Best K-Pop Cover in Indonesia merupakan ajang kompetisi dance cover dan sing cover yang digagas oleh Korean Cultural Center Indonesia. </p>
                    <a href="#the-best-k-pop-cover-in-indonesia" title="2019 The Best K-POP Cover in Indonesiat" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-content">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 25
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#the-6th-korean-cultural-art-association-festival" title="The 6th Korean Cultural Art Association Festival">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DThe%206th%20Korean%20Cultural%20Art%20Association%20Festival.jpg" width="100%" alt="The 6th Korean Cultural Art Association Festival Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#the-6th-korean-cultural-art-association-festival" title="The 6th Korean Cultural Art Association Festival">
                        <h3>The 6th Korean Cultural Art Association Festival</h3>
                    </a>
                    <a href="https://goo.gl/maps/iiy9EDQywFF1J9p96" title="Lotte Shopping Avenue" >
                        <h4>Main Atrium, Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-CONTENT</label>
                    <p class="excerpt hidden-xs">Pertunjukan: The Music Association, SAFC (Seoul Art Women's Choir Regular Concert), Gugak-sarang, Jakarta Korean Dancers Team, KISO Korea Orchestra, Paduan JKCC (Jakarta korean Children's Choir), Jakarta Father's Ensemble, Hanbapae, Korean saxophonist club. </p>
                    <a href="#the-6th-korean-cultural-art-association-festival" title="The 6th Korean Cultural Art Association Festival" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        19 - 25
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#dicapoem-exhibition" title="DICAPOEM Exhibition">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DDICAPOEM%20Exhibition.jpg" width="100%" alt="DICAPOEM Exhibition Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#dicapoem-exhibition" title="DICAPOEM Exhibition">
                        <h3>DICAPOEM Exhibition</h3>
                    </a>
                    
                    <a href="https://goo.gl/maps/iiy9EDQywFF1J9p96" title="Lotte Shopping Avenue" >
                        <h4>Main Atrium, Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-EXHIBITION</label>
                    <p class="excerpt hidden-xs">Dicapoem merupakan seni multi-bahasa yang terdiri dari satu foto dan lima baris puisi dalam bahasa Korea (hangeul). </p>
                    <a href="#dicapoem-exhibition" title="DICAPOEM Exhibition" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        26
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#hanhwa-life-activation-program-2019" title="Hanwha Life Activation Program 2019">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DHanwha%20Life%20Activation%20Program%202019.jpeg" width="100%" alt="Hanwha Life Activation Program 2019 Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#hanhwa-life-activation-program-2019" title="Hanwha Life Activation Program 2019">
                        <h3>Hanwha Life Activation Program 2019</h3>
                    </a>
                    <a href="https://goo.gl/maps/gpGhNucfKHj8Yy1CA" title="FX Mall" >
                        <h4>FX Mall</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Bulan Oktober, 2019 : Kim So Hee (K-POP), Bulan November, 2019 : Jun Chef(K-Food), Erna Limdaugh(K-Travel), Bulan December, 2019 : Lee Yong Dae(K-Sports), Bulan Januari, 2020 : Kenny Austin(K-drama), Gege Elisa(K-Beauty)</p>
                    <a href="#hanhwa-life-activation-program-2019" title="Hanwha Life Activation Program 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <!-- <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        26
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#jakarta-gugak-festival" title="Jakarta Gugak Festival">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DJakarta%20Gukak%20Festival.jpg" width="100%" alt="Jakarta Gugak Festival Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#jakarta-gugak-festival" title="Jakarta Gugak Festival">
                        <h3>Jakarta Gugak Festival</h3>
                    </a>
                    <a href="https://g.page/artpreneur" title="Ciputra Artpreneur Theater" >
                        <h4>Ciputra Artpreneur Theater</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Promosi pertukaran budaya dari kedua negara melalui gabungan pertunjukan seni Tradisional Korea dan Indonesia.</p>
                    <a href="#jakarta-gugak-festival" title="Jakarta-Gugak-Festival" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div> -->
            
            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        26
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#korea-culture-brand-festival" title="DICAPOEM Exhibition">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DKorea%20Culture%20Brand%20Festival.jpeg" width="100%" alt="Korea Culture Brand Festival Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#korea-culture-brand-festival" title="DICAPOEM Exhibition">
                        <h3>Korea Culture Brand Festival</h3>
                    </a>
                    
                    <a href="https://g.page/artpreneur" title="Ciputra Artpreneur in Lotte Shopping Avenue" >
                        <h4>Ciputra Artpreneur in Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-EXHIBITION</label>
                    <p class="excerpt hidden-xs">Ini merupakan ajang promosi pertukaran budaya dari kedua negara melalui gabungan pertunjukan seni tradisional Korea dan Indonesia.  </p>
                    <a href="#korea-culture-brand-festival" title="DICAPOEM Exhibition" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        26 - 27
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#2019-asia-taekwondo-hanmadang-championship" title="2019 Asia Taekwondo Hanmadang Championship">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DAsia%20Taekwondo%20Hanmadang%20Championship.jpg" width="100%" alt="2019 Asia Taekwondo Hanmadang Championship Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#2019-asia-taekwondo-hanmadang-championship" title="2019 Asia Taekwondo Hanmadang Championship">
                        <h3>2019 Asia Taekwondo Hanmadang Championship</h3>
                    </a>
                    <a href="https://goo.gl/maps/svT4tfR7yW5WDRai8" title="GOR POPKI Cibubur" >
                        <h4>GOR POPKI Cibubur</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">Pertandingan tunggal(44 tandingan 8 kategori), pertandingan kelompok(12 tandingan 4 kategori). Diikuti oleh: 1500 atlet dari 10 negara.</p>
                    <a href="#2019-asia-taekwondo-hanmadang-championship" title="2019 Asia Taekwondo Hanmadang Championship" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        31
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#opening-ceremony-of-korea-corner" title="Opening ceremony of Korea Corner">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DOpening%20Ceremony%20of%20Korea%20Corner.jpg" width="100%" alt="Opening Ceremony of Korea Corner Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#opening-ceremony-of-korea-corner" title="Opening ceremony of Korea Corner">
                        <h3>Opening Ceremony of Korea Corner</h3>
                    </a>
                    <a href="https://goo.gl/maps/tzrSYimkfRTfFH3SA" title="BINUS University" >
                        <h4>Anggrek Campus, BINUS</h4>
                    </a>
                    <label class="event-label">K-Exhibition</label>
                    <p class="excerpt hidden-xs">Korean Corner adalah pusat informasi mengenai Korea Selatan dimana bisa mendapatkan banyak pelajaran berupa buku dan DVD tentang Korea Selatan Dari kebudayaan, bahasa, pariwisata, maupun beasiswa
                    </p>
                    <a href="#opening-ceremony-of-korea-corner" title="Opening ceremony of Korea Corner" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        06
                    </div>
                    <div class="col-xs-12 event-date-month">
                        NOV
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#asia-traditional-orchestra" title="Asia Traditional Orchestra">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/poster_thumb_asia_traditional.jpg" width="100%" alt="Asia Traditional Orchestra Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#asia-traditional-orchestra" title="Asia Traditional Orchestra">
                        <h3>Asia Traditional Orchestra</h3>
                    </a>
                    <a href="https://goo.gl/maps/1ucozQ388Liew7zJ7" title="Balai Sarbini, Plaza Semanggi" >
                        <h4>Balai Sarbini, Plaza Semanggi</h4>
                    </a>
                    <label class="event-label">K-Performance</label>
                    <p class="excerpt hidden-xs">Asia Traditional Orchestra, yang terdiri oleh musisi dari 10 negara ASEAN, akan mempertunjukkan sebuah pertunjukan orkestra yang indah untuk merayakan 30 tahun kerja sama Korea Selatan-ASEAN.
                    </p>
                    <a href="#asia-traditional-orchestra" title="Asia Traditional Orchestra" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        07 - 09
                    </div>
                    <div class="col-xs-12 event-date-month">
                        NOV
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#jakarta-international-premium-products-fair-2019" title="Jakarta International Premium Products Fair 2019">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DJakarta%20%20International%20Premium%20Product%20Fair%202019.png" width="100%" alt="Jakarta International Premium Product Fair 2019 Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#jakarta-international-premium-products-fair-2019" title="Jakarta International Premium Products Fair 2019">
                        <h3>Jakarta International Premium Products Fair 2019</h3>
                    </a>
                    <a href="https://goo.gl/maps/tAyLmB8YVtxXso3j7" title="JCC" >
                        <h4>JCC</h4>
                    </a>
                    <label class="event-label">K-Exhibition</label>
                    <p class="excerpt hidden-xs">Kategori Pameran : Produk Hadiah & Promosi Penjualan, Produk Alat Rumah Tangga, Produk Interior Rumah Tinggal, Produk kecantikan & kosmetik, Produk fahsion & aksesoris, produk bayi & anak-anak, produk alat tulis & perlengkapan kantor, produk makanan & minuman premium, produk informasi teknologi pintar(Smart IT)
                    </p>
                    <a href="#jakarta-international-premium-products-fair-2019" title="Jakarta International Premium Products Fair 2019" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        09 - 10
                    </div>
                    <div class="col-xs-12 event-date-month">
                        NOV
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 event-thumb">
                    <a href="#study-in-korea-fair" title="2019 STUDY IN KOREA FAIR IN INDONESIA">
                        <img src="https://ecm-stg-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/events/%5BPoster%5DStudy%20In%20Korea%20Fair.jpg" width="100%" alt="Study In Korea Fair Thumbnail"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 event-item-caption">
                    <a href="#study-in-korea-fair" title="2019 STUDY IN KOREA FAIR IN INDONESIA">
                        <h3>2019 STUDY IN KOREA FAIR IN INDONESIA</h3>
                    </a>
                    <a href="https://goo.gl/maps/tAyLmB8YVtxXso3j7" title="JCC" >
                        <h4>Merek Room, JCC</h4>
                    </a>
                    <label class="event-label">K-Exhibition</label>
                    <p class="excerpt hidden-xs">Pameran ini digelar untuk memperkenalkan dunia pendidikan Korea kepada para pelajar, mahasiswa, guru dan dosen di Indonesia. 
                    </p>
                    <a href="#study-in-korea-fair" title="2019 STUDY IN KOREA FAIR IN INDONESIA" class="view-button hidden-xs">
                        VIEW DETAIL <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>
        <!-- <div class="col-xs-12" align="right">
            <a class="fColor-purple" href="javascript:void(0);" onclick="$('a[aria-controls=event]').click(); $('html, body').animate({scrollTop: $('#event-all').offset().top}, 'slow');">CLICK FOR MORE EVENTS >>></a>
        </div> -->
    </section>

    <section class="col-xs-12 section section-calendar">
        <div class="col-xs-12" align="left"> 
            <h2 class="head-gibson main-head"><span class="h2-icon calendar-icon"></span> EVENT CALENDAR OCTOBER & NOVEMBER 2019</h2>
        </div>
        
        <div class="col-xs-12 col-sm-10 calendar" align="left">
            <div class="fullcalendar"></div>
        </div>
        <div class="col-xs-12 col-sm-2 calendar-legend" align="right">
                <!-- <h2 class="head-gibson col-xs-12" style="color: transparent;">OCTOBER 2019</h2> -->

            <label>
                <span class="circle" style="background: #FFD477;"></span> K-CONTENT
            </label>
            <label>
                <span class="circle" style="background: #11B8E0;"></span> K-PERFORMANCE
            </label>
            <label>
                <span class="circle" style="background: #A25099;"></span> K-EXHIBITION
            </label>
            <label>
                <span class="circle" style="background: #ED1A3B;"></span> K-FOOD
            </label>
        </div>
    </section>

    <section class="col-xs-12 section section-map">
        <div class="inner-section">
            <div class="col-xs-12" align="left">
                <h2 class="head-gibson main-head"><i class="h2-icon map-marker-icon"></i> JAKARTA EVENT MAP</h2>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 map-containerx" >
                    <img class="image-map" src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/k-festival-2019-map.png" width="100%" alt="K-Festival Event Map" title="K-Festival Event Map"/>
                </div>
                <div class="col-xs-12 col-sm-6 image-right">
                    <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/k-festival-2019-map-legend.png" width="100%" alt="K-Festival 2019 Map Legend" title="K-Festival 2019 Map Legend"/>
                </div>
                
                <!-- <div class="col-xs-12 col-sm-4 no-pad map-container-y">
                    <div class="col-xs-6 no-pad">
                        <img class="maps-legend-1" src="https://s3-ap-southeast-1.amazonaws.com/ecm-prd-pub/kfestival/assets/img/legend01-100N.jpg" width="100%"/>
                    </div>
                    <div class="col-xs-6 no-pad image-right" style="margin-top: 125px">
                        <img class="maps-legend-2" src="https://s3-ap-southeast-1.amazonaws.com/ecm-prd-pub/kfestival/assets/img/legend02N.jpg" width="100%"/>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section class="col-xs-12 section section-seo">
        <h2>Flying </h2>
        <p>Bagi Anda yang tertarik dengan <strong><b<>budaya Korea</b></strong>, Anda wajib menyaksikan <strong><b>Korea Festival 2019</b></strong>. Berbagai pagelaran budaya Korea bisa Anda saksikan. Salah satu pertunjukan yang harus Anda saksikan adalah Flying. Flying adalah pentas komedi tanpa dialog yang bercerita tentang kisah Dokkebi (monster Korea) dan Hwarang (prajurit Korea) yang menjelajahi waktu dari masa lalu ke masa sekarang. Flying merupakan pagelaran pertunjukan yang mengkombinasikan olahraga senam irama, seni bela diri, pemandu sorak, B-Boying dan olahraga senam. Pertunjukan Flying ini bisa menjadi pertunjukan Korea yang berbeda dan belum pernah Anda saksikan sebelumnya. </p>

        <h2>K-Pop Concert</h2>
        <p>Kpoppers pasti selalu update dengan berbagai festival Korea. Pada tanggal 19-20 Oktober 2019 ini, Anda dapat menyaksikan acara terbesar selama <strong><b>K-Festival 2019</b></strong>. Acara besar tersebut adalah <strong><b>K-Pop Concert</b></strong> yang dimeriahkan oleh DIA, JBJ95, VAV, Akdong Musician, Kim Jong-Kuk, GWSN untuk tanggal 19 Oktober 2019 dan pada 20 Oktober 2019 ada Skull&HaHa, Shinee Tae-Min, Hwang Chi-Yeul dan The Rose. K-Pop concert ini akan diselenggarakan di Istora Senayan Jakarta. Anda bisa hadir pada acara <strong><b>K-Culture Festa</b></strong> 2019, selain K-Pop Concert, Anda juga bisa menyaksikan Gyeonggi Culture, Turism Exhibition, K-POP Cover Dance & Sing Tournament dan tidak ketinggalan K-Culture Experience Event. </p>

        <h2>K-Pop Dance Workshop</h2>
        <p>Budaya Korea sedang banyak digemari di seluruh dunia, termasuk di Indonesia. Banyak pecinta K-Pop yang selalu mengikuti perkembangan budaya Korea. Pada tanggal 19-20 Oktober 2019, di Istora GBK Jakarta ada event <strong><b>The Best K-Pop Cover in Indonesia</b></strong>. Acara ini adalah ajang kompetisi sing cover dan dance cover yang digagas Korean Cultural Center Indonesia. Peserta kompetisi ini merupakan pemenang dan finalis berbagai kompetisi K-Pop dance dan sing cover yang diadakan pada tahun 2016-2019. The Best K-Pop Cover in Indonesia ini mempertunjukkan bakat-bakat terbaik K-Pop cover di Indonesia. Dengan melalui tahap semi-final dan final, dijamin acara K-Pop ini akan sangat seru dan meriah. Jangan sampai Anda ketinggalan acara ini ya! </p>

        <h2>Korean Culture Brand Festival</h2>
        <p>26 Oktober 2019 dapat menjadi tanggal spesial untuk Anda yang menyukai dan ingin mengetahui budaya Korea. Pada tanggal tersebut <strong><b>Korean Culture Brand Festival</b></strong> diadakan di Ciputra Artpreneur Theater. Anda yang menyukai <strong><b>budaya Korea</b></strong> bisa menyaksikan pertukaran budaya dari Korea dan Indonesia. Acara ini bisa menjadi promosi yang menggabungkan seni pertunjukan budaya Indonesia dan Korea. Anda bisa menyaksikan pertunjukan tradisional musikal Korea, nyanyian dan tarian Korea. Acara ini tentu menyajikan banyak hal baru melalui kolaborasi seni pertunjukan dari kedua negara. Bagi Anda Kpoppers tentu tidak ingin ketinggalan menyaksikan acara pertunjukan ini. </p>

    </section>
    <br>
</div>

