<div class="col-xs-12 content no-pad">

    <section class="col-xs-12 section section-event">
        <div class="col-xs-12" align="left">
            <h2 class="head-gibson main-head">TANGGAL</h2>
        </div>
        <div class="col-xs-12 event-body">

            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-performance">
                    <div class="col-xs-12 event-date-day" align="left">
                        16 - 17
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-7 event-thumb">
                    <a href="#flying" title="FLYING">
                        <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/event_image3.jpg" width="100%"/ alt="FLYING thumbnail">
                    </a>
                </div>
                <div class="col-xs-5 col-md-4 event-item-caption">
                    <a href="#flying" title="FLYING">
                        <h3>FLYING</h3>
                    </a>
                    <a href="https://g.page/artpreneur" title="Ciputra Artpreneur" >
                        <h4>Ciputra Artpreneur in Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-PERFORMANCE</label>
                    <p class="excerpt hidden-xs">FLYING adalah pertunjukan komedi non-verbal yang menceritakan kisah Hwarang (prajurit Korea) dan Dokkebi (monster Korea) yang datang dari masa lalu ke masa sekarang. </p>
                    <a href="https://www.ilotte.com/ev/flying-ticket-giveaway/000002302/view.do" title="FLYING" class="view-button registration" >
                        APPLY
                    </a>
                </div>
            </div>
            
            <div class="col-xs-12 event-list-item row">
                <div class="col-xs-2 col-md-1 event-item-thumbnail k-exhibition">
                    <div class="col-xs-12 event-date-day" align="left">
                        26
                    </div>
                    <div class="col-xs-12 event-date-month">
                        OKT
                    </div>
                </div>

                <div class="col-xs-5 col-md-7 event-thumb">
                    <a href="#korea-culture-brand-festival" title="DICAPOEM Exhibition">
                    <img src="https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/event_image2a.jpg" width="100%" alt="Korea Culture Brand Festival Thumbnail"/>
                </a>
                </div>
                <div class="col-xs-5 col-md-4 event-item-caption">
                    <a href="#korea-culture-brand-festival" title="DICAPOEM Exhibition">
                        <h3>Korea Culture Brand Festival</h3>
                    </a>
                    
                    <a href="https://g.page/artpreneur" title="Ciputra Artpreneur in Lotte Shopping Avenue" >
                        <h4>Ciputra Artpreneur in Lotte Shopping Avenue</h4>
                    </a>
                    <label class="event-label">K-EXHIBITION</label>
                    <p class="excerpt hidden-xs">Ini merupakan ajang promosi pertukaran budaya dari kedua negara melalui gabungan pertunjukan seni tradisional Korea dan Indonesia.  </p>
                    <a href="https://www.ilotte.com/ev/korean-culture-brand-festival-ticket-giveaway/000002304/view.do" title="Korea Culture Brand Festival" class="view-button registration" >
                        APPLY</span>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <br>
</div>    