$color_1: #333;
$color_2: #be0000;
$color_3: #394b9f;
$color_white: #fff;
$color_5: #808080;
$color_black: #000;
$color_7: #fa498d;
$color_light_blue: #93D2DF;
$color_9: #afd361;
$color_10: #ffa500;
$color_11: #6b6c6e;
$color_transparent: transparent;
$color_dark_blue: #002046;
$color_14: #222;
$color_15: #c0c0c0;
$color_16: #555;
$color_article: #454F63;
$color_calendar: #AAB1BF;
$font_family_1: 'KGSecondChancesSolid';
$font_family_2: 'Open Sans';
$font_helvetica: 'Helvetica Neue';
$font_family_4: unset;
$font_gibson_semibold: 'Gibson Semibold';
$font_family_6: DIN Regular;
$font_gibson_regular: 'Gibson Regular';
$font_poetsen_regular: 'Poetsen One';
$background_color_1: unset;
$border_color_1: #808080;

@font-face {
	font-family: 'KGSecondChancesSolid';
	font-style: normal;
	src: url("../fonts/KGSecondChancesSolid.eot");
	src: url("../fonts/KGSecondChancesSolid.ttf") format("truetype"),url("../fonts/KGSecondChancesSolid.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: 'DIN Regular';
	font-style: normal;
	src: url("../fonts/DIN_Regular.eot");
	src: url("../fonts/DIN_Regular.otf") format("opentype"),url("../fonts/DIN_Regular.ttf") format("truetype"),url("../fonts/DIN_Regular.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: 'Gibson Semibold';
	font-style: normal;
	src: url("../fonts/Gibson-SemiBold.otf") format("opentype");
	// src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("opentype"),url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"),url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: 'Gibson Regular';
	font-style: normal;
	src: url("../fonts/Gibson-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	src: url("../fonts/Gotham-Medium.otf") format("opentype"),url("../fonts/Gotham-Medium.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("opentype"),url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"),url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: 'Poetsen One';
	font-style: normal;
	src: url("../fonts/PoetsenOne-Regular.ttf") format("truetype");
	font-weight: normal;
}

// .fancybox-overlay-fixed{
// 	display: none !important;
// }

.quick_imenus{
	.layer_ui{
		.badge{
			background-color: transparent;
		}
	}
}

.no-border{
	border: 0 !important;
}

.top_popbanner_wrap, .kmall_side_50 {
	display: none !important;
}

.malltab{
	.malltab-list{
		a{
			&:focus, &:hover{
				color: inherit;
				text-decoration: none;
			}
		}
		&.denki{
			color: #333;
		}
	}
}


.floating-promo__content img {
    display: none;
}

.malltab{
	margin-bottom: 0 !important;
}
#gnb {
	.gnb_innr {
		margin-bottom: 0 !important;
	}
}
#header.scr {
	#gnb {
		.logo {
			top: -2px;
		}
	}
}
#header {
	.utils {
		.mall {
			li {
				.mall_banner {
					border-bottom: 0 !important;
				}
				>a {
					font-weight: normal;
				}
			}
		}
	}
}
.head-gibson.main-head {
	font-family: $font_gibson_semibold;
	font-size: 16px;
	margin: 0;
	margin-bottom: 10px;
	// padding-left: 95px;
	color: $color_dark_blue;
	position: relative;
	display: flex;
	align-items: center;
}
.ft_banner_area {
	display: none !important;
}
#content.bg_type01 {
	background: none !important;
}
.heading.blue {
	font-size: 36px;
	color: $color_1;
}
.h2-icon{
	color: $color_light_blue;
	margin-right: 10px;
	&.calendar-icon{
		width: 24px;
		height: 24px;
		background: url("../img/calendar-icon (2).png");
		background-repeat: no-repeat;
		background-size: contain;
		@media only screen and (max-width: 767px) {
			width: 20px;
			height: 20px;
		}
	}
	&.map-marker-icon{
		width: 24px;
		height: 24px;
		background: url("../img/location-icon.png");
		background-repeat: no-repeat;
		background-size: contain;
		@media only screen and (max-width: 767px) {
			width: 20px;
			height: 20px;
		}
	}
	&.event-icon{
		width: 24px;
		height: 24px;
		background: url("../img/event-icon.png");
		background-repeat: no-repeat;
		background-size: contain;
		@media only screen and (max-width: 767px) {
			width: 20px;
			height: 20px;
		}
	}
}
.grey {
	background: none !important;
	border: none !important;
}
.no-pad {
	padding: 0 !important;
}
.pad.btm {
	padding-bottom: 10px !important;
}
.bg.bg-red {
	background: #ed1a3b !important;
}
.bg.bg-orange {
	background: #fbb040 !important;
}
.bg.bg-blue {
	background: #a4238e !important;
	background: #00aeef !important;
}
.bg.bg-cyan {
	background: #fbb040 !important;
}
.bg.bg-cloud {
	background: #00aeef !important;
}
.text-dark-blue{
	color: $color_dark_blue;
}
body {
	font: normal 12px/1.5 Arial, Helvetica, Sans-serif;
}

.con_category{
	.category_list{
		h3{
			font-size: 12px;
			font-weight: 700;
		}
	}
}

:after, :before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

h2{
	font-size: 16px;
}
h1.h1-title {
	font-family: $font_family_1;
}
h2.h1-title {
	font-family: $font_family_1;
}
h3.h1-title {
	font-family: $font_family_1;
}
h4.h1-title {
	font-family: $font_family_1;
}
h5.h1-title {
	font-family: $font_family_1;
}
h1.head-gibson {
	font-family: $font_gibson_semibold;
}
h2.head-gibson {
	font-family: $font_gibson_semibold;
}
h3.head-gibson {
	font-family: $font_gibson_semibold;
}
h4.head-gibson {
	font-family: $font_gibson_semibold;
}
h5.head-gibson {
	font-family: $font_gibson_semibold;
}
h1.heading {
	font-family: $font_family_1;
}
h2.heading {
	font-family: $font_family_1;
}
h3.heading {
	font-family: $font_family_1;
}
h4.heading {
	font-family: $font_family_1;
}
h5.heading {
	font-family: $font_family_1;
}
h1.red {
	color: $color_2;
}
h2.red {
	color: $color_2;
}
h3.red {
	color: $color_2;
}
h4.red {
	color: $color_2;
}
h5.red {
	color: $color_2;
}
h1.blue {
	color: $color_3;
}
h2.blue {
	color: $color_3;
}
h3.blue {
	color: $color_3;
}
h4.blue {
	color: $color_3;
}
h5.blue {
	color: $color_3;
}
h1.white {
	color: $color_white;
}
h2.white {
	color: $color_white;
}
h3.white {
	color: $color_white;
}
h4.white {
	color: $color_white;
}
h5.white {
	color: $color_white;
}
h1.grey {
	color: $color_5 !important;
}
h2.grey {
	color: $color_5 !important;
}
h3.grey {
	color: $color_5 !important;
}
h4.grey {
	color: $color_5 !important;
}
h5.grey {
	color: $color_5 !important;
}

.font-default{
	font-family: $font_helvetica !important;
}

p.default {
	font-family: $font_family_4;
}
b.default {
	font-family: $font_family_4;
}
a.btn-link {
	font-family: $font_gibson_semibold;
	background: #050635;
	color: $color_white;
	border: 0;
	padding: 10px 20px;
	text-decoration: none;
}
a {
	&:active.btn-link {
		font-family: $font_gibson_semibold;
		background: #050635;
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
	&:focus.btn-link {
		font-family: $font_gibson_semibold;
		background: #050635;
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
	&:hover.btn-link {
		font-family: $font_gibson_semibold;
		background: #050635;
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
}
span.btn-link {
	font-family: $font_gibson_semibold;
	background: #050635;
	color: $color_white;
	border: 0;
	padding: 10px 20px;
	text-decoration: none;
    border-radius: 5px;
    &:hover{
        background: darken(#050635, 10%)
    }
}
span {
	&:active.btn-link {
		font-family: $font_gibson_semibold;
		background: #050635;
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
	&:focus.btn-link {
		font-family: $font_gibson_semibold;
		background: #050635;
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
	&:hover.btn-link {
		font-family: $font_gibson_semibold;
		background: lighten(#050635, 10%);
		color: $color_white;
		border: 0;
		padding: 10px 20px;
		text-decoration: none;
	}
}
.background-body {
	// position: absolute;
	// left: 0;
	// top: 0;
	// z-index: -1;
	@media only screen and (max-width: 992px){
		// margin-top: 50px;
	}
}
.slick-dots li button:before {
    width: 36px;
    height: 36px;
}
.slick-dots li button {
    width: 36px !important;
    height: 36px !important;
}
.slick-dots li {
	width: 40px !important;
}
.fc thead{
	border-top: transparent;
}

.fc td, .fc th{
	 border-top: transparent !important;
}

.k-festival-wrap{
	background-color: #E8F7FC;
	background-size: auto;
	margin-bottom: -25px;
	padding-bottom: 25px;
}

.header-img-container{
	.container-fluid{
		position: relative;
		@media only screen and (max-width: 768px) {
			overflow: hidden;
			&::-webkit-scrollbar { 
				display: none;  // Safari and Chrome
			}
		}
	}
	.main-tabs{
		border-bottom: 0 !important;
		position: absolute;
		text-align: center;
		flex-wrap: nowrap;
		display: flex;
		width: 100%;
		justify-content: center;
		@media only screen and (min-width: 769px) {
			bottom: 15px;
		}
		li {
			display: inline-block;
			float: none;
			text-align: center;
			&.k-sale-festa-anchor-list{
				position: relative;
				&:after{
					background: url(../img/on-sale.png);
					position: absolute;
					width: 45px;
					height: 45px;
					content: "";
					top: -15px;
					right: 0;
					background-repeat: no-repeat;
					background-size: contain;
				}
				@media only screen and (max-width: 768px) {
					&:after{
						background: url(../img/on-sale.png);
						position: absolute;
						width: 25px;
						height: 25px;
						content: "";
						top: 0px;
						right: 0;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
			}
			@media only screen and (min-width: 769px) {
				width: auto;
			}
			a{
				line-height: 1;
				box-sizing: border-box;
				text-align: center;
				color: white;
				font-family: $font_poetsen_regular;
				font-size: 20px;
				background: red;
				padding: 30px;
				border-radius: 100px;
				border: 5px solid white;
				height: 70px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				&.event-anchor{
					background: #002B58;
				}
				&.korea-ticket-anchor{
					background: #00AEF0;
					position: relative;
					&:before{
						position: absolute;
						top: 10%;
						left: 20%;
						background-image: url(../img/camar-left.png);
						content: "";
						background-repeat: no-repeat;
						background-size: contain;
						width: 28px;
						height: 16px;
					}
					&:after{
						position: absolute;
						top: 70%;
						right: 10%;
						background-image: url(../img/camar-right.png);
						content: "";
						background-repeat: no-repeat;
						background-size: contain;
						width: 28px;
						height: 13px;
					}
					&:hover{
						&:before{
							background-image: url(../img/camar-left-biru.png);
						}
						&:after{
							background-image: url(../img/camar-right-biru.png);
						}
					}
					@media only screen and (max-width: 768px) {
						&:before{
							width: 14px;
							height: 8px;
						}
						&:after{
							
							width: 14px;
							height: 6px;
						}
					}
				}
				&.k-pop-festival-anchor{
					background: #F6AB39;
				}
				&.performance-ticket-anchor{
					background: #A5238F;
					position: relative;
					&:before{
						position: absolute;
						top: 10%;
						left: 10%;
						background-image: url(../img/stars-white.png);
						content: "";
						background-repeat: no-repeat;
						background-size: contain;
						width: 20px;
						height: 15px;
					}
					&:after{
						position: absolute;
						top: 10%;
						right: 8%;
						background-image: url(../img/mic-white.png);
						content: "";
						background-repeat: no-repeat;
						background-size: contain;
						width: 20px;
						height: 20px;
					}
					&:hover{
						&:before{
							background-image: url(../img/stars.png);
						}
						&:after{
							background-image: url(../img/mic.png);
						}
					}
					@media only screen and (max-width: 768px) {
						&:before{
							width: 10px;
							height: 7px;
						}
						&:after{
							width: 10px;
							height: 10px;
						}
					}
				}
				&.k-sale-festa-anchor{
					background: #DC3433;
				}
				@media only screen and (max-width: 768px) {
					font-size: 12px;
					min-width: 0;
					height: 50px;
					padding: 5px;
				}
			}
		}
		li>a.active, li>a:focus, li>a:hover {
			background-color: white;
			border: 5px solid white;
			text-decoration: none;
			&.event-anchor{
				border: 5px solid #002B58;
				color: #002B58;
				
			}
			&.korea-ticket-anchor{
				border: 5px solid #00AEF0;
				color: #00AEF0;
				&:before{
					background-image: url(../img/camar-left-biru.png);
				}
				&:after{
					background-image: url(../img/camar-right-biru.png);
				}
				
			}
			&.k-pop-festival-anchor{
				color: #F6AB39;
				border: 5px solid #F6AB39;
			}
			&.performance-ticket-anchor{
				border: 5px solid #A5238F;
				color: #A5238F;
				&:before{
					background-image: url(../img/stars.png);
				}
				&:after{
					background-image: url(../img/mic.png);
				}
			}
			&.k-sale-festa-anchor{
				border: 5px solid #DC3433;
				color: #DC3433;
			}
		}
		@media only screen and (max-width: 700px){
			justify-content: initial;
		}
		@media only screen and (max-width: 768px) {
			position: relative;
			overflow-x: scroll;
			-ms-overflow-style: none;  // IE 10+
    		scrollbar-width: none;  // Firefox
			&::-webkit-scrollbar { 
				display: none;  // Safari and Chrome
			}

			li{
				display: inline-block;
				float: left;
				margin-top: 10px;

				margin-bottom: 10px;
				a{
					
					&.event-anchor{
						width: 100px;
					}
					&.korea-ticket-anchor{
						width: 120px;
					}
					&.k-pop-festival-anchor{
						width: 100px;
					}
					&.performance-ticket-anchor{
						width: 150px;
					}
					&.k-sale-festa-anchor{
						width: 150px;
					}
				}
			}
		}
	}
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
	padding: 25px;
	background-color: #444444;
	background-size: 25px;
	border-radius: 100%;
	@media only screen and (max-width: 768px){
		width: 15px;
		height: 15px;
		padding: 15px;
		background-size: 15px;
	}
}

.carousel-indicators {
	@media only screen and (max-width: 500px) {
		bottom: -60px;
	}
	bottom: -100px;
	li{
		box-sizing: border-box;
		background-color: black;
		background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_nonverb_flying.jpg);
		overflow:hidden;
		width: 36px;
		height: 36px;
		background-size:cover;
		opacity: 1;
		border: 1px solid transparent;

		background-position: center center;
		@media only screen and (min-width: 768px) {
			width: 120px;
			height: 70px;
			border-radius: 10px;
		}
		&:nth-child(1){
			background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_koreanculture_brand.jpg);
		}
		&:nth-child(2){
			background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_followgyeonggi.png);
		}
		&:nth-child(3){
			background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mainbillboard_sns.jpg);
		}
		&.active, &:hover{
			border: 1px solid $color_dark_blue;
			box-sizing: border-box;

		}
	}
}


.container.main {
	
	.row {
		.nav.nav-tabs {
			background: #fff;
			text-align: center;
			padding-top: 15px;
			border: 0;
			li {
				display: inline-block;
				float: none;
				// padding: 0 90px;
				a {
					font-family: $font_family_2;
					color: $color_black;
					border: 0;
					b {
						font-family: $font_family_2;
					}
					&:hover {
						background-color: $background_color_1;
						color: $color_2;
						border: 0;
						border-bottom: 8px solid #85D8FF;
					}
					&:focus {
						background-color: $background_color_1;
						color: $color_2;
						border: 0;
						border-bottom: 8px solid #85D8FF;
					}
					&:active {
						background-color: $background_color_1;
						color: $color_2;
						border: 0;
						border-bottom: 8px solid #85D8FF;
					}
				}
				&:hover, &:focus, &:active {
					a {
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
						background-color: $background_color_1;
						color: $color_2;
					}
				}
			}
			li.active {
				a {
					background-color: $background_color_1;
					color: $color_2;
					border: 0;
					border-bottom: 8px solid #85D8FF;
					cursor: pointer;
				}
			}
		}
		.nav.nav-tabs.event-tabs {
			padding: 0;
			li {
				flex: 1;
				text-align: center;
				padding: 0;
				background: #e7e7e7;
				a {
					padding-top: 25px;
					padding-bottom: 25px;
					color: $color_white;
					&:hover, &:focus, &:active {
						background-color: $background_color_1;
						border: 0;
						color: $color_white;
					}
				}
				&:hover, &:focus, &:active {
					background: #808080;
				}
			}
			li.active {
				background: #808080;
				a {
					background-color: $background_color_1;
					border: 0;
				}
			}
		}
	}
}
.container-fluid.main {
	.row {
		.nav.nav-tabs {
			background: #fff;
			text-align: center;
			padding-top: 15px;
			border: 0;
			border-bottom: 1px solid #707070;
			li {
				display: inline-block;
				// float: none;
				// padding: 0 90px;
				// width: 24.37%;
				// width: 50%;

				a {
					font-family: $font_family_2;
					color: $color_black;
					border: 0;
					font-size: 13px;
					b {
						font-family: $font_family_2;
					}
					&:hover, &:focus, &:active {
						background-color: $background_color_1;
						color: $color_1;
						border: 0;
						border-bottom: 8px solid #85D8FF;
					}
				}
				&:hover, &:focus, &:active {
					a {
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
						background-color: $background_color_1;
						color: $color_1;
					}
				}
			}
			li.active {
				a {
					background-color: $background_color_1;
					color: $color_1;
					border: 0;
					border-bottom: 8px solid #85D8FF;
					cursor: pointer;
				}
			}
		}
		.nav.nav-tabs.event-tabs {
			padding: 0;
			li {
				flex: 1;
				text-align: center;
				padding: 0;
				background: #e7e7e7;
				a {
					padding-top: 25px;
					padding-bottom: 25px;
					color: $color_white;
					&:hover, &:focus, &:active {
						background-color: $background_color_1;
						border: 0;
						color: $color_white;
					}
				}
				&:hover, &:focus, &:active {
					background: #808080;
				}
			}
			li.active {
				background: #808080;
				a {
					background-color: $background_color_1;
					border: 0;
					cursor: pointer;
				}
			}
		}
	}
}
.foot-banner {
	background: #050635;
	padding: 15px 0;
	.container {
		.outer-banner {
			padding: 0;
			.inner-banner {
				color: $color_white;
			}
		}
		.outer-banner.left {
			border-right: 1px solid #050635;
		}
		.outer-banner.right {
			border-left: 1px solid #050635;
		}
	}
}
.partner {
	background: #fff;
	padding: 60px 0;
}
.tab-content {
	.tab-pane {
		.content {
			background: #fff;
			background-size: auto;
		}
	}
	#home {
		p {
			font-family: $font_helvetica;
		}
		b {
			font-family: $font_helvetica;
		}
		.section-navigation{
			padding: 15px;
			padding-bottom: 20px;
			@media only screen and (min-width: 768px) {
				padding-left: 30px;
				padding-right: 30px;
			}
			a{
				cursor: pointer;
			}
			.live-now-wrapper{
				display: inline-block;
				.live-now{
					font-family: $font_gibson_semibold;
					font-size: 15px;
					color: #D4D2D2;
					border: 1px solid #D4D2D2;
					border-radius: 4px;
					padding: 6px 10px;
					cursor: pointer;
				}
			}
			.live-schedule-wrapper{
				// position: relative;
				margin-left: 12px;
				display: inline-block;
				.live-schedule{
					cursor: pointer;
					font-family: $font_gibson_semibold;
					font-size: 15px;
					color: $color_article;
					border-radius: 4px;
					display: flex;
					align-items: center;

					background-color: transparent;
					border: none;
					&:focus{
						border: none;
						outline: none;
					}
					.glyphicon{
						margin-left: 12px;
						color: #D4D2D2;
					}
					&:hover{
						text-decoration: none;
					}
				}
				.live-schedule-content{
					position: absolute;
					background: white;
					z-index: 999;
					left: 0;
					h2{
						margin-left: 143px;
					}
					.lives-row{
						
						@media only screen and (min-width: 769px){
							width: calc(100% - 128px);
							margin-right: 0;
							margin-left: 128px;
						}
					}
				}
				
			}
			.anchor-wrapper{
				color: $color_article;
				font-family: $font_gibson_semibold;
				font-size: 15px;
				// margin-right: 15px;
				margin-left: 15px;
				display: flex;
				align-items: center;
				cursor: pointer;
				&.map-anchor-wrapper{
					&:before{
						background: url("../img/location-icon.png");
						width: 15px;
						height: 15px;
						background-repeat: no-repeat;
						background-size: contain;
						content: "";
						display: inline-block;
						margin-right: 5px;
					}
				}
				&.calendar-anchor-wrapper{
					&:before{
						background: url("../img/calendar-icon\ \(2\).png");
						width: 15px;
						height: 15px;
						background-repeat: no-repeat;
						background-size: contain;
						content: "";
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}
		.section.section-banner {
			display: block;
			padding: 15px;
			padding-right: 30px;
			padding-left: 30px;
			margin-bottom: 75px;
			@media only screen and (max-width: 500px) {
				margin-bottom: 30px;
			}
		}
		.section.section-mobile-banner {
			display: none;
			padding: 30px 0;
			.mobile-banner-list {
				padding: 7.5px 15px;
			}
			.thumbnail-hover {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);
				left: 0;
				top: 0;
				.inner-object {
					padding-top: 45%;
					text-align: center;
					.category {
						font-family: $font_helvetica;
						font-weight: bold;
					}
					.category.pink {
						color: $color_7;
					}
					.category.cyan {
						color: $color_light_blue;
					}
					.category.leaf {
						color: $color_9;
					}
					.category.orange {
						color: $color_10;
					}
				}
			}
		}
		.section.section-calendar {
			padding: 0 30px 45px;
			.calendar {
				img.calendar-desktop {
					display: block;
				}
				img.calendar-mobile {
					display: block;
				}
				.legend {
					font-family: $font_helvetica;
					font-weight: bold;
					font-size: 12px;
					padding: 15px 0;
					.circle {
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin-left: 15px;
					}
					.circle.red {
						background: #ee2a7b;
					}
					.circle.blue {
						background: #12b9ec;
					}
					.circle.green {
						background: #afd361;
					}
					.circle.orange {
						background: #ffa500;
					}
				}
			}
			.list-info {
				.list-group {
					background: transparent;
					border: 0;
					border-radius: 0;
					.list-group-item {
						position: relative;
						background: transparent;
						border: 2px solid #fff;
						border-radius: 0;
						img {
							width: 100%;
						}
						.outer-item {
							font-family: $font_helvetica;
							color: $color_white;
							text-align: left;
							width: auto;
							padding: 15px 20px;
							font-size: 18px;
						}
					}
				}
			}
		}
		.section.section-map {
			@media only screen and (min-width: 768px){
				padding: 0 30px 45px;
			}
			padding-bottom: 30px;
			padding-left: 0;
			padding-right: 0;
		}
		.section.section-gallery {
			.thumnail-slide {
				.thumnail-slide-list {
					border: 2px solid #fff;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
					outline: none;
					.thumbnail-hover {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,0.5);
						left: 0;
						top: 0;
						.inner-object {
							padding-top: 30%;
							.category {
								font-family: $font_helvetica;
								font-weight: bold;
							}
							.category.pink {
								color: $color_7;
							}
							.category.cyan {
								color: $color_light_blue;
							}
							.category.leaf {
								color: $color_9;
							}
							.category.orange {
								color: $color_10;
							}
						}
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		.section.section-event {
			@media only screen and (min-width: 768px) {
				margin-top: 30px;
				padding-top: 30px;
			}
			padding: 30px 30px;
			padding-top: 0;
			.event-body {
				.event-list-item {
					// border-bottom: 1px solid #000;
					display: flex;
					box-sizing: border-box;
					min-height: 100px;
					&:first-child {
						padding-top: 5px;
					}
					&:last-child {
						.event-thumb{
							padding-bottom: 0;
						}
					}
					&:last-child{
						.event-item-caption{
							padding-bottom: 0;
						}
					}
					.event-item-thumbnail {
						z-index: 1;
						border-right: 4px dotted #AAB1BF;
						font-family: $font_gibson_semibold !important;
						color: $color_dark_blue;
						padding-left: 0;
						&:after{
							content: "";
							display: inline-block;
							width: 30px;
							height: 30px;
							border-radius: 3px;
							position: absolute;
							right: -18px;
							top: 0;
							@media only screen and (max-width: 767px) {
								width: 15px;
								height: 15px;
								right: -10px;
							}
						}
						&.k-content{
							&:after{
								background:#FFD477;
							}
						}
						&.k-performance{
							&:after{
								background:#11B8E0;
							}
						}
						&.k-exhibition{
							&:after{
								background:#A25099;
							}
						}
						&.k-food{
							&:after{
								background: #ED1A3B;
							}
						}
						.event-date-day {
							// background: #6596a4;
							// font-weight: bold;
							padding: 0 15px 0 0 !important;
							font-size: 20px;
							font-family: $font_gibson_semibold !important;

						}
						.event-date-hour{
							padding: 0 15px 0 0 !important;
							font-size: 12px;
							color: #959DAD;
							font-family: $font_gibson_regular;
						}
						.event-date-month {
							// background: #6596a4;
							padding: 0 15px 5px 0 !important;
							font-size: 14px;
							// margin-top: -5px;
							font-weight: bold;
							font-family: $font_gibson_semibold !important;

						}
						.event-thumbnail-pic {
							.outer-pic-event {
								position: absolute;
								left: 50%;
								top: 20px;
								text-align: center;
								img {
									position: relative;
									left: -89%;
									width: 174%;
								}
							}
						}
					}
					.event-thumb{
						@media only screen and (min-width: 768px) {
							padding-left: 45px;
							min-height: 235px;

						}
						padding-bottom: 30px;
					}
					.event-item-caption {
						padding-bottom: 30px;
						display: flex;
						flex-direction: column;
						background: #fff;
						
						.view-button{
							margin-top: auto;
							align-self: baseline;
							&.registration{
								margin-top: 20px;
								background-color: #FF6363;
								&:hover{
									background-color: darken(#FF6363, 10%);
								}
								min-width: 100px;
								text-align: center;
								@media only screen and (max-width: 500px) {
									padding: 5px;
									font-size: 10px;
									min-width: 75px;
									margin-bottom: 15px;
								}
							}
                            &.closed{
                                margin-top: 20px;
								background-color: gray;
								cursor: not-allowed;
								min-width: 100px;
								text-align: center;
                                &:hover{
									background-color: gray;
								}
								@media only screen and (max-width: 500px) {
									padding: 5px;
									font-size: 10px;
									min-width: 75px;
									margin-bottom: 15px;
								}
                            }
						}
						.caption-category {
							font-family: $font_helvetica;
							font-weight: bold;
						}
						.caption-category.pink {
							color: $color_7;
						}
						.caption-category.cyan {
							color: $color_light_blue;
						}
						.caption-category.leaf {
							color: $color_9;
						}
						.caption-category.orange {
							color: $color_10;
						}
						a {
							text-decoration: none;
							&:hover {
								text-decoration: none;
								h3 {
									text-decoration: none;
									color: lighten($color_article, 10%);
								}
								&.view-button{
									background: darken(#A8BCE5, 5%);
								}
							}
							&.view-button{
								background: #A8BCE5;
								padding: 10px 10px;
								color: white;
								border-radius: 3px;
								font-size: 12px;
								font-weight: 700;
							}
						}
						h1 {
							margin-top: 5px;
						}
						h3 {
							font-family: $font_helvetica;
							margin-top: 0px;
							font-size: 24px;
							color: $color_article;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;  
						}
						h4{
							font-family: $font_helvetica;
							margin-top: 0px;
							font-size: 18px;
							font-weight: 600;
							display: flex;
							color: $color_article;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical; 
							&:hover{
								color: lighten($color_article, 10%);
							}
							&:before{
								content: "";
								background: url(../img/map-pin.png) no-repeat;
								width: 12px;
								height: 12px;
								display: inline-block;
								margin-right: 2px;
								background-size: contain;
							}
							@media only screen and (min-width: 768px) {
								&:before{
									content: "";
									background: url(../img/map-pin.png) no-repeat;
									width: 16px;
									height: 19px;
									display: inline-block;
									margin-right: 5px;
									background-size: cover;
								}
							}
						}
						p {
							height: 80px;
							font-family: $font_helvetica;
							color: $color_article;
							margin-bottom: 10px;
							display: -webkit-box;
							// -webkit-line-clamp: 3;
							// -webkit-box-orient: vertical;
							overflow: hidden;
							&.no-max-height{
								height: auto;
							}
						}
						@media only screen and (max-width: 767px) {
							h3{
								font-size: 16px;
							}
							h4{
								font-size: 12px;
							}
							p{
								height: 0px;
							}
							label{
								font-size: 12px;
							}
						}

						@media only screen and (max-width: 420px) {
							h3{
								font-size: 16px;
							}
							h4{
								font-size: 12px;
							}
							label{
								font-size: 10px;
							}
						}
					}
					
				}
			}
		}
		.section.section-other {
			.footer-thumb {
				.footer-thumb-list {
					border: 2px solid #fff;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
					.thumbnail-hover {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,0.5);
						left: 0;
						top: 0;
						.inner-object {
							padding-top: 45%;
							.category {
								font-family: $font_helvetica;
								font-weight: bold;
							}
							.category.pink {
								color: $color_7;
							}
							.category.cyan {
								color: $color_light_blue;
							}
							.category.leaf {
								color: $color_9;
							}
							.category.orange {
								color: $color_10;
							}
						}
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.tab-content{
	background: white;
}

.event-detail {
	padding-top: 30px;
	background: white;
	font-family: $font_gibson_regular;
	color: $color_article;
	padding-bottom: 30px;
	.separator{	
		border: 2px dashed #C8C8C8;
		margin-bottom: 30px;
		margin-top: 40px;
		display: block !important;
		clear: both;
	}
	.heading {
		color: $color_article;
		font-family: $font_gibson_regular;
		font-size: 40px;
	}
	h4, a{
		font-size: 20px;
		color: $color_article;
		margin-top: 0;
	}
	.event-detail-date{
		font-size: 20px;
		margin:0;
		font-family: $font_gibson_regular;
		margin-bottom: 0;
		b{
			font-family: $font_gibson_regular !important;
			font-size: 20px;
			font-weight: normal !important;
			margin: 0;
		}
	}
	
	.img-container{
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		img{
			width: 100%;
			// @media only screen and (min-width: 768px) {
			// 	width: 50%;

			// }
		}
	}

	.event-sns-wrapper{
		.event-sns{
			width: 48px;
			&:hover{
				text-decoration: none;
			}
			img{
				width: 48px;
			}
		}
	}

	.btn-ext-link{
		color: #ffffff;
		background-color: #A8BCE5;
		padding: 10px 20px;
		font-size: 16px;
		font-family: $font_helvetica;
		&:hover{
			background: darken(#A8BCE5, 10%);
			text-decoration: none;
		}
		
	}
	.btn-ext-link-wrapper{
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.slick-slide{
    height: auto !important;
}

.slick-slider {
	.slick-prev {
		left: 75px;
		z-index: 1;
	}
	.slick-next {
		right: 75px;
	}
	.bannerArrow {
		font-size: 20px;
		/* line-height: 0; */
		position: absolute;
		top: 50%;
		display: block;
		padding: 7px;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: #002046;
		border: none;
		outline: none;
		background:rgba(255,255,255,0.8);
		border-radius: 30px;
		opacity: 0.8;
	}
	.bannerArrow.prevArrow {
		left: 75px;
		z-index: 1;
	}
	.bannerArrow.nextArrow {
		right: 75px;
		z-index: 1;
	}
}
.slick-slider.banner-slide {
	outline: none;
	margin-top: 15px;
	// padding: 30px;
	@media only screen and (min-width: 769px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	.banner-slide-item {
		position: relative;
		padding: 15px 0;
		outline: none;
		padding-top: 0;
	}
	.outer-pic-slider {
		position: absolute;
		left: 50%;
		top: 0;
		outline: none;
		.pic-slider {
			position: relative;
			top: 60px;
			left: -79%;
			width: 156%;
			margin: 0 auto;
		}
	}
	.slick-dots {
		// position: initial;
		bottom: -15px;
		left: 0;
		li {
			margin: 0;
			button {
				&:before{
					content: "";
					background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_nonverb_flying.jpg);
					overflow:hidden;
					width: 36px;
					height: 36px;
					background-size:cover;
					opacity: 1;
					background-position: center center;
					
				}
				&:hover, &:focus{
					&:before{
						box-sizing: border-box;
						border: 1px solid $color_dark_blue;
					}
				}
				
			}
			@media only screen and (min-width: 768px) {
				width: 135px !important;
				button{
					width: 120px;
					height: 70px;
					&:before{
						width: 120px;
						height: 70px;
						border-radius: 10px;
					}
				}
			}
			&:nth-child(1){
				button{
					&:before{
						background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_koreanculture_brand.jpg);
					}
				}
			}
			// &:nth-child(3){
			// 	button{
			// 		&:before{
			// 			background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_followgyeonggi.jpg);
			// 		}
			// 	}
			// }
            &:nth-child(2){
				button{
					&:before{
						background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mbb_followgyeonggi.png);
					}
				}
			}
            &:nth-child(3){
				button{
					&:before{
						background-image: url(https://ecm-prd-pub.s3.ap-southeast-1.amazonaws.com/kfestival/assets/img/billboards/mainbillboard_sns.jpg);
					}
				}
			}
		}
		li.slick-active {
			button {
				&:before {
					color: $color_2;
					opacity: 1;
					box-sizing: border-box;
					border: 1px solid $color_dark_blue;
				}
			}
		}
	}
}
.slick-slider.thumnail-slide {
	.slick-dots {
		bottom: 75px;
		li {
			margin: 0;
			button {
				// content:url(path/to/your-image.png);
				// &:before {
				// 	font-size: 15px;
				// }
				// &:hover {
				// 	&:before {
				// 		color: $color_2;
				// 		opacity: 1;
				// 	}
				// }
				// &:focus {
				// 	&:before {
				// 		color: $color_2;
				// 		opacity: 1;
				// 	}
				// }
			}
		}
		li.slick-active {
			button {
				&:before {
					color: $color_2;
					opacity: 1;
				}
			}
		}
	}
}
.pb-calendar {
	padding-top: 15px;
	.schedule-dot-list {
		.schedule-dot-item.red {
			background: #ee2a7b;
		}
		.schedule-dot-item.blue {
			background: #12b9ec;
		}
		.schedule-dot-item.green {
			background: #afd361;
		}
		.schedule-dot-item.orange {
			background: #ffa500;
		}
	}
	.top-frame {
		margin-bottom: 5px;
		padding: 0 5px;
		.year-month-frame {
			text-align: center;
			.control-btn {
				font-family: $font_helvetica;
				color: $color_white;
				text-decoration: none;
			}
			.control-btn.prev-btn {
				float: left;
			}
			.control-btn.next-btn {
				float: right;
			}
		}
		.year-month-frame.control-frame {
			text-align: center !important;
			width: 100% !important;
			background: #394b9f;
			font-size: 18px;
			.month {
				font-family: $font_helvetica;
				color: $color_white;
				text-transform: uppercase;
			}
			.year {
				font-family: $font_helvetica;
				color: $color_white;
				text-transform: uppercase;
			}
		}
	}
	.calendar-head-frame {
		.row.row-dayname {
			.col {
				font-family: $font_helvetica;
				height: unset;
				padding: 4px;
				font-size: 16px;
			}
			.col.col-dayname {
				background: transparent;
				color: $color_white;
				font-size: 14px;
				font-weight: bold;
				.inner {
					background: #6b6c6e;
					padding: 5px 10px;
				}
			}
			.col.col-dayname.holiday {
				.inner {
					background: #be0000;
					padding: 5px 10px;
				}
			}
		}
	}
	.calendar-body-frame {
		.row.row-day {
			.col {
				background: transparent;
				font-family: $font_helvetica;
				height: unset;
				padding: 4px;
				.inner {
					background: #e2e2e2;
					padding: 7.5px 10px;
					position: relative;
					font-size: 16px;
					font-weight: bold;
				}
			}
			.col.before-month {
				font-size: 18px;
				.inner {
					background: rgba(255,255,255,0.4);
					padding: 7.5px 10px;
				}
			}
			.col.after-month {
				font-size: 18px;
				.inner {
					background: rgba(255,255,255,0.4);
					padding: 7.5px 10px;
				}
			}
			.col.before-day {
				.inner {
					background: #d0d2d3;
				}
			}
			.col.today {
				.inner {
					box-shadow: inset 0 0 0 3px #bcbcbc;
				}
			}
		}
	}
}
.bg.bg-purple {
	background: #a4238e !important;
}
.fColor-purple {
	color: $color_dark_blue;
}
#quick {
	.quick_imenus {
		>li {
			>a {
				.badge {
					b {
						height: auto;
						min-width: 22px;
						padding-right: 8px;
					}
				}
			}
		}
	}
}
.ham_menu {
	>li {
		a {
			>.img_wrap {
				line-height: 24px;
			}
		}
	}
}
.cartegory_tit {
	padding: 0;
	margin: 15px 30px;
	line-height: 48px;
	a {
		color: $color_14;
	}
}
.calendar-legend {
	padding: 20px 0 0;
	span.circle {
		width: 10px;
		height: 10px;
		position: absolute;
		left: -15px;
		top: 0;
		border-radius: 100%;
		@media only screen and (min-width: 768px) {
			width: 20px;
			height: 20px;
			border-radius: 3px;
			left: -25px;
		}
	}
	label {
		color: #444444;
		margin-left: 5px;
		margin-right: 15px;
		position: relative;
		vertical-align: text-bottom;
		font-size: 10px;
		font-family: $font_gibson_semibold;
		font-weight: normal;
		text-align: right;
		@media only screen and (min-width: 768px) {
			font-size: 14px;
			display: block;
			text-align: left;
			margin-left: 15px;
		}
	}
}
span.circle {
	width: 25px;
	height: 25px;
	position: absolute;
	left: -30px;
	top: 0;
}
.fc-toolbar {
	display: none;
}


.fc-unthemed{
	thead{
		border-top:  transparent !important;
	}
}
	
.event-label {
	font-family: $font_helvetica;
	color: $color_article;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 100;
	text-transform: uppercase;
}
.fc-day-grid-event {
	>.fc-content {
		white-space: pre-wrap !important;
		overflow: hidden;
		text-align: center;
		// padding: 5px 2.5px;
		font-weight: normal;
		margin: 0 !important;
	}
}
.fc-ltr {
	.fc-basic-view {
		.fc-day-number {
			color: $color_calendar;
			text-align: center !important;
			font-weight: bold;
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
		}
	}
}

.fc-day-number {
	color: #555555;
	text-align: center !important;
	font-weight: bold;
}

.fc-event {
	font-family: $font_helvetica;
	// font-size: 7px !important;
	// font-weight: 700;
	.fc-title{
		color: white;
		font-size: 12px;
		@media only screen and (max-width: 768px) {
			font-size: 10px;
		}
	}
	
}

.section-seo{
	font-size: 0.8em;
	h2{
		font-weight: 700 !important;
	}
	p{
		@media only screen and (max-width: 768px) {
			font-size: 12px;
		}
	}
}

th.fc-day-header.fc-widget-header {
	background: $color_white;
	color: $color_calendar;
	text-transform: uppercase;
	// border-color: $border_color_1;
	font-size: 14px;
	padding: 5px;
}
.maps-legend-1 {
	width: 100%;
	left: -20px;
	position: relative;
}
.maps-legend-2 {
	width: 125%;
	left: -10px;
	top: -15px;
	position: relative;
}

@media (min-width:1024px) {
	#container {
		width: auto !important;
	}
	.container {
		width: 1200px;
		margin: 0 auto;
	}
	.container-fluid {
		width: 1200px;
		margin: 0 auto;
	}
}
@media (max-width:414px) {
	footer.fixnone {
		display: none;
	}
	.container.header {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.container-fluid.header {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.container.main {
		.row {
			.nav.nav-tabs {
				li {
					padding: 0;
				}
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs {
				li {
					padding: 0;
				}
			}
		}
	}
	.foot-banner {
		padding: 0;
		.container {
			.outer-banner.left {
				border: 0;
			}
			.outer-banner.right {
				border: 0;
			}
		}
	}
	.partner {
		padding: 5px 0;
	}
	.tab-content {
		#home {
			h1 {
				font-size: 24px;
				text-align: left;
			}
			h2 {
				font-size: 16px;
				text-align: left;
			}
			.section.section-banner {
				padding: 0;
			}
			.section.section-calendar {
				.calendar {
					img.calendar-desktop {
						display: none;
					}
				}
				.list-info {
					padding-top: 30px;
					.list-group {
						.list-group-item {
							padding-left: 5px;
							padding-right: 5px;
							.outer-item {
								padding: 0 20px;
							}
						}
					}
				}
			}
			.section.section-map {
				.inner-section {
					padding: 0;
				}
			}
			.section.section-gallery {
				.outer-heading {
					padding: 0;
					.heading {
						padding: 0 30px;
						.inner-heading {
							padding: 0;
						}
					}
				}
			}
			.section.section-event {
				padding: 15px 15px;
				.event-body {
					.event-list-item {
						.event-item-thumbnail {
							padding-left: 0;
							@media only screen and (min-width: 992px) {
								margin-bottom: 15px;
							}
							.event-date-day {
								padding: 0 !important;
							}
							.event-date-month {
								padding: 0 !important;
							}
							.event-thumbnail-pic {
								overflow: hidden;
							}
						}
						.event-item-caption {
							padding: 0;
							padding-left: 15px !important;
							p {
								height: 63px;
								text-align: justify;
								display: -webkit-box;
								// -webkit-line-clamp: 3;
								// -webkit-box-orient: vertical;
								overflow: hidden;
							}
						}
					}
				}
			}
		}
		
	}
	.head-gibson.main-head {
		font-family: $font_gibson_semibold;
		font-size: 24px;
		margin: 0;
		margin-bottom: 10px;
		// padding-left: 95px;
		color: $color_dark_blue;
		position: relative;
		display: flex;
		align-items: center;
	}
	.calendar-legend {
		span.circle {
			width: 15px;
			height: 15px;
			left: -20px;
		}
		label {
			margin-left: 20px;
			font-size: 12px;
			width: 32%;
			text-align: left;
		}
	}
	span.circle {
		width: 15px;
		height: 15px;
		left: -20px;
	}
	.map-containerx {
		// margin: 0 -30px;
		width: auto;
	}
	.map-container-y {
		.image-right {
			margin-top: 80px !important;
		}
	}
	
	.fc-event {
		font-family: $font_helvetica;
		font-size: 7px !important;
	}
	th.fc-day-header.fc-widget-header {
		font-size: 1em;
	}
	.fc-ltr {
		.fc-basic-view {
			.fc-day-number {
				font-size: 1em;
			}
		}
	}
	.maps-legend-1 {
		width: 100%;
	}
	.maps-legend-2 {
		width: 100%;
		left: unset;
		top: unset;
		position: relative;
	}
	.section-gallery {
		.heading {
			padding: 0 30px;
		}
	}
}
@media (max-width:767px) {
	h1.h1-title {
		margin-top: 5px !important;
	}
	h2.h1-title {
		margin-top: 5px !important;
	}
	h3.h1-title {
		margin-top: 5px !important;
	}
	h4.h1-title {
		margin-top: 5px !important;
	}
	h5.h1-title {
		margin-top: 5px !important;
	}
	h1.heading {
		margin-top: 5px !important;
	}
	h2.heading {
		margin-top: 5px !important;
	}
	h3.heading {
		margin-top: 5px !important;
	}
	h4.heading {
		margin-top: 5px !important;
	}
	h5.heading {
		margin-top: 5px !important;
	}
	.container.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						padding: 10px;
					}
				}
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						padding: 10px;
					}
				}
			}
		}
	}
	.tab-content {
		#home {
			.section.section-mobile-banner {
				.thumbnail-hover {
					.inner-object {
						h1 {
							font-size: 20px;
						}
					}
				}
			}
			.section.section-calendar {
				padding: 0 0 15px;
				.calendar {
					.legend {
						font-size: 10px;
						.circle {
							width: 5px;
							height: 5px;
						}
					}
				}
			}
			.section.section-event {
				padding: 30px 0px;
				.event-body {
					.event-list-item {
						.event-item-thumbnail {
							.event-date-day {
								font-size: 14px;
								@media only screen and (max-width: 420px) {
									font-size: 12px;
								}
							}
							.event-date-month {
								font-size: 14px;
								@media only screen and (max-width: 420px) {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
			.section.section-other {
				.footer-thumb {
					.footer-thumb-list {
						.thumbnail-hover {
							.inner-object {
								h1 {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.slick-slider {
		.bannerArrow.prevArrow {
			left: 25px;
		}
		.bannerArrow.nextArrow {
			right: 25px;
		}
	}
	.pb-calendar {
		.schedule-dot-list {
			right: 2.5px !important;
			.schedule-dot-item {
				width: 4px !important;
				height: 4px !important;
			}
		}
	}
	.container.header {
		display: flex;
		align-items: center;
		img {
			padding-left: 15px;
			padding-top: 20px;
			position: relative;
			width: 200px !important;
			
		}
	}
}
@media (min-width:768px) and (max-width:1599px) {
	.container.header {
		img {
			width: 400px;
			position: relative;
			padding-top: 20px;
		}
	}
	.container-fluid.header {
		img {
			width: 400px !important;
			position: relative;
			padding-top: 20px;
		}
	}
}
@media (min-width:1600px) {
	.container.header {
		img {
			width: 700px !important;
			padding-top: 20px;
			position: relative;
		}
	}
	.container-fluid.header {
		img {
			width: 700px !important;
			padding-top: 20px;
			position: relative;
		}
	}
	.tab-content {
		#home {
			.section.section-calendar {
				.calendar {
					.legend {
						font-size: 10px;
					}
				}
			}
		}
	}
}
@media (min-width:1200px) and (max-width:1400px) {
	.container.main {
		width: 100%;
	}
	.container-fluid.main {
		width: 100%;
	}
}
@media (min-width:768px) {
	.container.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						b {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						b {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.tab-content {
		#home {
			.section.section-mobile-banner {
				display: none;
			}
			.section.section-event {
				.event-body {
					.event-list-item {
						.event-item-thumbnail {
							.event-thumbnail-pic {
								img {
									margin-left: -15px;
								}
							}
						}
						.event-item-caption {
							h3 {
								font-size: 26px;
							}
							h4.default {
								font-size: 18px;
								margin-top: 15px;
								margin-bottom: 5px;
								font-family: $font_helvetica;
								color: $color_15 !important;
							}
							p {
								// display: -webkit-box;
								// -webkit-line-clamp: 3;
								// -webkit-box-orient: vertical;
								overflow: hidden;
								font-size: 14px;
								text-align: justify;
							}
						}
					}
				}
			}
		}
	}
	p.desc {
		font-size: 20px;
		color: $color_article;
	}
	.head-gibson.main-head {
		font-family: $font_gibson_semibold;
		font-size: 24px;
		margin: 0;
		margin-bottom: 10px;
		// padding-left: 95px;
		color: $color_dark_blue;
		position: relative;
		display: flex;
		align-items: center;
	}
	.section-calendar {
		margin-top: 30px;
	}
	.calendar-legend {
		text-align: right !important;
		padding-top: 10px;
	}
	.image-map {
		position: relative;
		left: -20px;
	}
}
@media (min-width:321px) and (max-width:375px) {
	.container.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
	.tab-content {
	
	}
}
@media (max-width:320px) {
	.container.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						font-size: 10px;
					}
				}
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs {
				li {
					a {
						font-size: 10px;
					}
				}
			}
		}
	}
	.tab-content {
		#home {
			.section.section-calendar {
				.list-info {
					.list-group {
						.list-group-item {
							.outer-item {
								.h1-title {
									font-size: 23px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-height:768px) {
	.container.main {
		.row {
			.nav.nav-tabs.event-tabs {
				display: flex;
			}
		}
	}
	.container-fluid.main {
		.row {
			.nav.nav-tabs.event-tabs {
				display: flex;
			}
		}
	}
}
@media (min-width:415px) {
	.tab-content {
		#home {
			.section.section-calendar {
				.calendar {
					img.calendar-mobile {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-width:375px) {
	.tab-content {
		#home {
			.section.section-calendar {
				.calendar {
					.calendar-head-frame {
						.row-dayname {
							.col-dayname {
								.inner {
									padding: 5px 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width:321px) and (max-width:767px) {
	.tab-content {
		#home {
			.section.section-calendar {
				.list-info {
					.list-group {
						.list-group-item {
							.outer-item {
								.h1-title {
									font-size: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width:415px) and (max-width:767px) {
	.tab-content {
		#home {
			.section.section-event {
				.event-body {
					.event-list-item {
						.event-item-caption {
							font-size: 14px;
							min-height: unset;
							left: unset;
							top: -7.5px;
						}
					}
				}
			}
		}
	}
}
@media (min-width:414px) {
	.tab-content {
		
	}
}
@media (min-width:376px) and (max-width:767px) {
	.tab-content {
		
	}
}

.passport-page{
	background-color: #ffffff;
	.marquee-section{
		margin-top: 30px;
		margin-bottom: 30px;
		h2{
			cursor: pointer;
			margin: 0;
			font-size: 16px;
			color: rgba(69, 79, 99, 0.31);
			font-family: $font_gibson_semibold;
			&:hover{
				color: rgba(69, 79, 99, 0.6);
			}
		}
	}
	.header-section{
		h3{
			font-family: $font_gibson_semibold;
			font-size: 24px;
			color: $color_article;
		}
		h1 {
			font-family: $font_gibson_regular;
			font-size: 32px;
			color: $color_article;
			margin-bottom: 0;
		}
	}

	.passport-content-section{
		@media only screen and (min-width: 769px) {
			padding: 30px;
		}
		padding: 15px;
		border: 1px solid #D7DBE2;
		border-radius: 30px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		.btn-ext-link{
			color: #ffffff;
			background-color: #A8BCE5;
			padding: 10px 20px;
			font-size: 16px;
			font-family: $font_helvetica;
			&:hover{
				background: darken(#A8BCE5, 10%);
				text-decoration: none;
			}
			
		}
		.btn-ext-link-wrapper{
			margin-top: 25px;
			margin-bottom: 25px;
		}
		h4{
			font-family: $font_gibson_semibold;
			font-size: 20px;
			color: $color_article;
		}
		h2{
			font-family: $font_gibson_semibold;
			font-size: 32px;
			color: $color_article;
			margin-top: 0;
		}
		h3{
			font-family: $font_gibson_semibold;
			font-size: 24px;
			color: $color_article;
		}
		p{
			font-size: 16px;
			color: $color_article;
			font-family: $font_gibson_regular;
		}
		ol{
			list-style: decimal !important;
			padding-left: inherit;
			li{
				font-size: 16px;
				color: $color_article;
				font-family: $font_gibson_regular;
			}
		}
		.passport-body{
			@media only screen and (min-width: 769px){
				padding-left: 30px;
			}
			margin-top: 30px;
			margin-bottom: 30px;
			border-left: 9px solid #8E2778;
			.sns-wrapper{
				.sns{
					img{
						width: 50px;
					}
				}
			}
		}
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.separator{	
		border: 2px dashed #C8C8C8;
		margin: 0;
		display: block !important;
		clear: both;
	}
	img.center{
		margin-left: auto;
		margin-right: auto;
	}
}
